<nav>
    <li class="nav-item">
        <a class="nav-link" href="/rand">Random</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/r/soccer">Soccer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/r/mightharvest">Might Harvest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/r/chickens">Chickens</a>
    </li>
</nav>